# HW3

Submitted by: Lior Sukman (ID 319124244) Efrat Kohen (ID 300385564) Mandy Rosemblaum (ID 305747230)

In [173]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, confusion_matrix, plot_confusion_matrix
from math import sqrt

## Q1

## Q2

In [179]:
#Build Dataframe with the requierd features
df = pd.read_csv('data.txt') #How to upload data from web urls? 
data = df[["Arrest", "Date", "Year", "Primary Type", "Location Description", "Domestic", "Beat", "District", "Ward", "Community Area", "FBI Code"]]

(b) Transform the categorical variables to binary variables ("one-hot encoding").

In [180]:
#Build Dataframes of binary variables and join with data 
categorical_variables = ["Primary Type", 'Domestic', 'District', 'Ward', 'FBI Code'] #which features do you think is categorial?
df_list = []
for categoria in categorical_variables:
    df = pd.get_dummies(data[categoria], prefix=categoria, drop_first=True)
    data = pd.concat([data, df] ,axis=1)
    data = data.drop(columns=[categoria])

In [181]:
data.info(verbose=True, null_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 127 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Arrest                                          9999 non-null   bool
 1   Date                                            9999 non-null   object
 2   Year                                            9999 non-null   int64
 3   Location Description                            9993 non-null   object
 4   Beat                                            9999 non-null   int64
 5   Community Area                                  9999 non-null   int64
 6   Primary Type_ASSAULT                            9999 non-null   uint8
 7   Primary Type_BATTERY                            9999 non-null   uint8
 8   Primary Type_BURGLARY                           9999 non-null   uint8
 9   Primary Type_CONCEALED CARRY LICENSE VIOLATION  9999 non-null   uint8
 10  Primary Type_CRIM SEXUAL ASSAULT                9999 non-null   uint8
 11  Primary Type_CRIMINAL DAMAGE                    9999 non-null   uint8
 12  Primary Type_CRIMINAL TRESPASS                  9999 non-null   uint8
 13  Primary Type_DECEPTIVE PRACTICE                 9999 non-null   uint8
 14  Primary Type_GAMBLING                           9999 non-null   uint8
 15  Primary Type_HOMICIDE                           9999 non-null   uint8
 16  Primary Type_INTERFERENCE WITH PUBLIC OFFICER   9999 non-null   uint8
 17  Primary Type_INTIMIDATION                       9999 non-null   uint8
 18  Primary Type_KIDNAPPING                         9999 non-null   uint8
 19  Primary Type_LIQUOR LAW VIOLATION               9999 non-null   uint8
 20  Primary Type_MOTOR VEHICLE THEFT                9999 non-null   uint8
 21  Primary Type_NARCOTICS                          9999 non-null   uint8
 22  Primary Type_NON-CRIMINAL                       9999 non-null   uint8
 23  Primary Type_OFFENSE INVOLVING CHILDREN         9999 non-null   uint8
 24  Primary Type_OTHER OFFENSE                      9999 non-null   uint8
 25  Primary Type_PROSTITUTION                       9999 non-null   uint8
 26  Primary Type_PUBLIC PEACE VIOLATION             9999 non-null   uint8
 27  Primary Type_ROBBERY                            9999 non-null   uint8
 28  Primary Type_SEX OFFENSE                        9999 non-null   uint8
 29  Primary Type_STALKING                           9999 non-null   uint8
 30  Primary Type_THEFT                              9999 non-null   uint8
 31  Primary Type_WEAPONS VIOLATION                  9999 non-null   uint8
 32  Domestic_True                                   9999 non-null   uint8
 33  District_2.0                                    9999 non-null   uint8
 34  District_3.0                                    9999 non-null   uint8
 35  District_4.0                                    9999 non-null   uint8
 36  District_5.0                                    9999 non-null   uint8
 37  District_6.0                                    9999 non-null   uint8
 38  District_7.0                                    9999 non-null   uint8
 39  District_8.0                                    9999 non-null   uint8
 40  District_9.0                                    9999 non-null   uint8
 41  District_10.0                                   9999 non-null   uint8
 42  District_11.0                                   9999 non-null   uint8
 43  District_12.0                                   9999 non-null   uint8
 44  District_14.0                                   9999 non-null   uint8
 45  District_15.0                                   9999 non-null   uint8
 46  District_16.0                                   9999 non-null   uint8
 47  District_17.0                                   9999 non-null   uint8
 48  District_18.0                                   9999 non-null   uint8
 49  District_19.0                                   9999 non-null   uint8
 50  District_20.0                                   9999 non-null   uint8
 51  District_22.0                                   9999 non-null   uint8
 52  District_24.0                                   9999 non-null   uint8
 53  District_25.0                                   9999 non-null   uint8
 54  Ward_2                                          9999 non-null   uint8
 55  Ward_3                                          9999 non-null   uint8
 56  Ward_4                                          9999 non-null   uint8
 57  Ward_5                                          9999 non-null   uint8
 58  Ward_6                                          9999 non-null   uint8
 59  Ward_7                                          9999 non-null   uint8
 60  Ward_8                                          9999 non-null   uint8
 61  Ward_9                                          9999 non-null   uint8
 62  Ward_10                                         9999 non-null   uint8
 63  Ward_11                                         9999 non-null   uint8
 64  Ward_12                                         9999 non-null   uint8
 65  Ward_13                                         9999 non-null   uint8
 66  Ward_14                                         9999 non-null   uint8
 67  Ward_15                                         9999 non-null   uint8
 68  Ward_16                                         9999 non-null   uint8
 69  Ward_17                                         9999 non-null   uint8
 70  Ward_18                                         9999 non-null   uint8
 71  Ward_19                                         9999 non-null   uint8
 72  Ward_20                                         9999 non-null   uint8
 73  Ward_21                                         9999 non-null   uint8
 74  Ward_22                                         9999 non-null   uint8
 75  Ward_23                                         9999 non-null   uint8
 76  Ward_24                                         9999 non-null   uint8
 77  Ward_25                                         9999 non-null   uint8
 78  Ward_26                                         9999 non-null   uint8
 79  Ward_27                                         9999 non-null   uint8
 80  Ward_28                                         9999 non-null   uint8
 81  Ward_29                                         9999 non-null   uint8
 82  Ward_30                                         9999 non-null   uint8
 83  Ward_31                                         9999 non-null   uint8
 84  Ward_32                                         9999 non-null   uint8
 85  Ward_33                                         9999 non-null   uint8
 86  Ward_34                                         9999 non-null   uint8
 87  Ward_35                                         9999 non-null   uint8
 88  Ward_36                                         9999 non-null   uint8
 89  Ward_37                                         9999 non-null   uint8
 90  Ward_38                                         9999 non-null   uint8
 91  Ward_39                                         9999 non-null   uint8
 92  Ward_40                                         9999 non-null   uint8
 93  Ward_41                                         9999 non-null   uint8
 94  Ward_42                                         9999 non-null   uint8
 95  Ward_43                                         9999 non-null   uint8
 96  Ward_44                                         9999 non-null   uint8
 97  Ward_45                                         9999 non-null   uint8
 98  Ward_46                                         9999 non-null   uint8
 99  Ward_47                                         9999 non-null   uint8
 100 Ward_48                                         9999 non-null   uint8
 101 Ward_49                                         9999 non-null   uint8
 102 Ward_50                                         9999 non-null   uint8
 103 FBI Code_02                                     9999 non-null   uint8
 104 FBI Code_03                                     9999 non-null   uint8
 105 FBI Code_04A                                    9999 non-null   uint8
 106 FBI Code_04B                                    9999 non-null   uint8
 107 FBI Code_05                                     9999 non-null   uint8
 108 FBI Code_06                                     9999 non-null   uint8
 109 FBI Code_07                                     9999 non-null   uint8
 110 FBI Code_08A                                    9999 non-null   uint8
 111 FBI Code_08B                                    9999 non-null   uint8
 112 FBI Code_09                                     9999 non-null   uint8
 113 FBI Code_10                                     9999 non-null   uint8
 114 FBI Code_11                                     9999 non-null   uint8
 115 FBI Code_12                                     9999 non-null   uint8
 116 FBI Code_13                                     9999 non-null   uint8
 117 FBI Code_14                                     9999 non-null   uint8
 118 FBI Code_15                                     9999 non-null   uint8
 119 FBI Code_16                                     9999 non-null   uint8
 120 FBI Code_17                                     9999 non-null   uint8
 121 FBI Code_18                                     9999 non-null   uint8
 122 FBI Code_19                                     9999 non-null   uint8
 123 FBI Code_20                                     9999 non-null   uint8
 124 FBI Code_22                                     9999 non-null   uint8
 125 FBI Code_24                                     9999 non-null   uint8
 126 FBI Code_26                                     9999 non-null   uint8
dtypes: bool(1), int64(3), object(2), uint8(121)
memory usage: 1.5+ MB

(c) Transform the date to day in week, hour in day, month in year

In [182]:
#Don't you think these categoreis should be "one-hot encoding" as well?
data.insert(1, 'Date_object', pd.to_datetime(data['Date'], format='%m/%d/%Y %I:%M:%S %p'))
data.insert(1, 'Hour', pd.DatetimeIndex(data['Date_object']).hour)
data.insert(2, 'week_day', data['Date_object'].dt.dayofweek)
data.insert(3, 'Month', pd.DatetimeIndex(data['Date_object']).month)
data = data.drop(columns=['Date', 'Date_object'])

In [183]:
data

,Arrest,Hour,week_day,Month,Year,Location Description,Beat,Community Area,Primary Type_ASSAULT,Primary Type_BATTERY,...,FBI Code_14,FBI Code_15,FBI Code_16,FBI Code_17,FBI Code_18,FBI Code_19,FBI Code_20,FBI Code_22,FBI Code_24,FBI Code_26
0,True,23,6,2,2015,STREET,422,46,0,0,...,0,0,0,0,1,0,0,0,0,0
1,True,23,6,2,2015,APARTMENT,522,53,0,1,...,0,0,0,0,0,0,0,0,0,0
2,True,23,6,2,2015,SIDEWALK,1522,25,0,0,...,0,0,0,0,1,0,0,0,0,0
3,True,23,6,2,2015,STREET,321,42,0,0,...,0,0,0,0,1,0,0,0,0,0
4,False,23,6,2,2015,APARTMENT,1513,25,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,False,8,4,1,2015,"SCHOOL, PUBLIC, BUILDING",835,70,0,0,...,0,0,0,0,0,0,0,0,0,0
9995,True,8,4,1,2015,APARTMENT,321,42,0,1,...,0,0,0,0,0,0,0,0,0,0
9996,False,8,4,1,2015,APARTMENT,414,46,0,1,...,0,0,0,0,0,0,0,0,0,0
9997,False,8,4,1,2015,RESIDENTIAL YARD (FRONT/BACK),623,44,1,0,...,0,0,0,0,0,0,0,0,0,0
9998,False,8,4,1,2015,APARTMENT,1113,26,0,1,...,0,0,0,0,0,0,0,0,0,0

(a) Split to training set and test set (80%-20%)

In [186]:
def split_df (target_name: str, data: pd.DataFrame):
    """ 
    Split df into random train and test subsets based on target name column

    Parameters
    ----------
    target_name : str
        target column name
    data : DataFrame
        DataFrame  

    return
    ----------
    X_train, X_test, y_train, y_test
    """
    X = data.drop(columns=[target_name])
    y = data[target_name].copy()
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    return X_train, X_test, y_train, y_test

In [187]:
target_name = "Arrest"
X_train, X_test, y_train, y_test = split_df(target_name, data)