# HW3

Submitted by: Lior Sukman (ID 319124244) Efrat Kohen (ID 300385564) Mandy Rosemblaum (ID 305747230)

In [106]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import mean_squared_error, confusion_matrix, plot_confusion_matrix
from math import sqrt

In [107]:
df = pd.read_csv('data.txt')

In [108]:
data = df[["Arrest", "Date", "Primary Type", "Location Description", "Domestic", "Beat", "District", "Ward", "Community Area", "FBI Code", "Year"]]
data.insert(1, 'Date_object', pd.to_datetime(data['Date'], format='%m/%d/%Y %I:%M:%S %p'))
data.insert(1, 'week_day', data['Date_object'].dt.dayofweek)
data.insert(2, 'Hour', pd.DatetimeIndex(data['Date_object']).hour)
data.insert(3, 'Month', pd.DatetimeIndex(data['Date_object']).month)
data = data.drop(columns=['Date', 'Date_object'])

In [109]:
data

,Arrest,week_day,Hour,Month,Primary Type,Location Description,Domestic,Beat,District,Ward,Community Area,FBI Code,Year
0,True,6,23,2,NARCOTICS,STREET,False,422,4.0,7,46,18,2015
1,True,6,23,2,BATTERY,APARTMENT,True,522,5.0,34,53,08B,2015
2,True,6,23,2,NARCOTICS,SIDEWALK,False,1522,15.0,29,25,18,2015
3,True,6,23,2,NARCOTICS,STREET,False,321,NaN,6,42,18,2015
4,False,6,23,2,BURGLARY,APARTMENT,False,1513,15.0,29,25,05,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,False,4,8,1,DECEPTIVE PRACTICE,"SCHOOL, PUBLIC, BUILDING",False,835,8.0,18,70,11,2015
9995,True,4,8,1,BATTERY,APARTMENT,True,321,3.0,20,42,08B,2015
9996,False,4,8,1,BATTERY,APARTMENT,True,414,4.0,8,46,08B,2015
9997,False,4,8,1,ASSAULT,RESIDENTIAL YARD (FRONT/BACK),False,623,6.0,6,44,08A,2015
9998,False,4,8,1,BATTERY,APARTMENT,True,1113,11.0,28,26,08B,2015

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Arrest                9999 non-null   bool
 1   week_day              9999 non-null   int64
 2   Hour                  9999 non-null   int64
 3   Month                 9999 non-null   int64
 4   Primary Type          9999 non-null   object
 5   Location Description  9993 non-null   object
 6   Domestic              9999 non-null   bool
 7   Beat                  9999 non-null   int64
 8   District              9837 non-null   float64
 9   Ward                  9999 non-null   int64
 10  Community Area        9999 non-null   int64
 11  FBI Code              9999 non-null   object
 12  Year                  9999 non-null   int64
dtypes: bool(2), float64(1), int64(7), object(3)
memory usage: 878.9+ KB

(a) Split to training set and test set (80%-20%)